* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #01225c;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #9ED2C6, #54BAB9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    min-height: 80vh;
    background: white;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    border-radius: 4rem;
    z-index: 3;
    backdrop-filter: blur(1rem);
    text-align: center;
    padding-top: 50px;
}

.glass h1{
    font-size: 50px;
    padding-bottom: 10px;
}
.glass h3{
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 10px;
}


.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
}

.chetam0 {
    position: absolute;
    top: 10%;
    left: 7%;
}
.chetam0 h1 {
    font-size: 144px;
}
.chetam {
    position: absolute;
    bottom: 33%;
    left: 10%;
}
.chetam h1 {
    font-size: 310px;
}
.chetam1 {
    position: absolute;
    bottom: 10%;
    right: 5%;
}
.chetam1 h1 {
    font-size: 144px;
}


.circle1 {
    bottom: 5%;
    left: 12%;
}
.circle2 {
    top: 4%;
    left: 71%;
}

form {
    padding-top: 20px;
}

.submit, .select {
    margin-top: 20px;
    width: 20%;
    height: 5vh;
    font-size: 20px;
    border-radius: 2rem;
    color: #01225c;
    transition: transform .2s ease;
}
.submit:hover {
    text-decoration: none;
    transform: scale(1.1);
    background: linear-gradient(to right top, #9ED2C6, #54BAB9);
}

.teams {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-right: 7%;
    margin-left: 7%;
}
.teams h3{
    font-size: 30px;
    font-weight: bolder;
}
.teams p{
    font-size: 22px;
}


.team {
    margin-bottom: 8%;
    text-align: left;
    float: left;
    width: 10%;
    margin-right: 8%;
    margin-left: 8%;
}

.randomized h2 {
    font-size: 40px;
    margin-top: 3%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a {
    color: #fcfcfc;
    width: 25%;
    min-height: 7vh;
    font-size: 20px;
    background: linear-gradient(to right top, #9ED2C6, #54BAB9);
    border-radius: 2rem;
    border: 2.5px solid #01225c;
    text-decoration: none;
    transition: transform .2s ease;
    text-align: center;
    padding-top: 17px;
}

.button a:hover {
    color: #01225c;
    text-decoration: none;
    transform: scale(1.1);
}

.textarea1, .textarea {
    padding: 2%;
    color: #01225c;
	font-size: 20px;
	border: 10px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.5);
	letter-spacing: 1px;
}

.textarea1, .textarea:hover {
    color: #01225c;
	border: 10px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
}

.aliamir {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.aliamir h2 {
    letter-spacing: 0.07em;
    position: relative;
    color: #fff;
    border-bottom: 6px solid #fff;
    line-height: 1.5em;
}

.aliamir h2:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #01225c;
    border-bottom: 6px solid #01225c;
    overflow: hidden;
    animation: animate 10s linear infinite;
}
