{% extends 'randomizingsystem/template.html' %}
{% load static %}

{% block content %}
<div class="button">
    <a href="{% url 'randomnumber' %}">Random Number</a>
</div>
<br>
<h1>Randomizer Glass</h1>
<h2>{{ error }}<h2>
<h3>Write names splitting with "SPACE" or "ENTER"</h3>
<form action="{% url 'randomized' %}">
    {% csrf_token %}
    <textarea class='textarea' name="text" rows="10" cols="40" placeholder="Write names here..."></textarea><br>
    <select class="select" name="typeofrandomizing">
        <option value="randomorder">Random order</option>
        <option value="2">Divide into 2 groups</option>
        <option value="3">Divide into 3 groups</option>
        <option value="4">Divide into 4 groups</option>
        <option value="6">Divide into 6 groups</option>
    </select>
    <br>
    <button class='submit' type="submit">Randomize</button>
</form> 
{% endblock %}