Home Page
{{ error }}
<form  action="{% url 'randomized' %}">
    {% csrf_token %}
    <textarea name="text" rows="16" cols="40"></textarea><br>
    <select name="typeofrandomizing">
        <option value="randomorder">Random order</option>
        <option value="2">Divide into 2 groups</option>
        <option value="3">Divide into 3 groups</option>
        <option value="4">Divide into 4 groups</option>
        <option value="6">Divide into 6 groups</option>
    </select>
    <br>
    <button type="submit">Randomize</button>
</form>