{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'randomizingsystem/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Randomizer</title>
</head>
<body>
    <main>
        <section class="glass">
            {% block content %}{% endblock %}
        </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
</body>
</html>
